<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika menggunakan subfolder, tambahkan nama folder proyek, misal: /kabar
    RewriteBase /kabar

    # Redirect request ke index.php jika tidak mengarah ke file/folder yang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
